#game_page
  #landmark_modal
    .header
      %h3 Raise a Landmark
    %form{action: '/landmark/', method: 'POST', id: 'create_landmark'}
    .txt
      %label{for: "Name"} Landmark Name:
      %input#landmark_name{name: "", type: "text"}/
    .txt
      %label{for: "description"} Description:
      %input#landmark_description{name: "", type: "text"}/
    .tile_info_field
      %input#tile_info{ type: "hidden" }/
    .btn.clearfix
      %a.close{href: "#"} Mark the Land!
      %a.close.cancel{href: "#"} Cancel
  #chronicle
    %ul
      - @game.chronicle.turn_logs.each do |turn_log|
        %li
          %p= turn_log.active_player.name.upcase + "'s reign:"
          %p= link_to  'the world as it was', game_chronicle_turn_log_path(@game, @game.chronicle, turn_log)
          %p= turn_log.documentation
  #left_panel_wrapper
    #left_panel_top
      %p
        Round #{@game.round_counter}
      %p
        Player #{@game.turn_counter} (#{Player.find(@game.active_player).name})'s turn
      %ul
        -@game.players.each do |player|
          %li
            = player.name
            has
            %span.points
              =player.points
            points to spend
      %p
        = text_area_tag(:turn_log_documentation)
        = form_tag @game, class: "end_turn", method: :patch do |f|
          = hidden_field(:points, :to_s)
          = submit_tag "End Turn"

      = button_to("Leave Game", leave_game_path(@game.id), method: :patch)
    #left_panel_middle
      .tabs
        .tab
          %input#tab-1{name: "tab-group-1", type: "radio", checked: "checked"}
          %label{for: "tab-1"} Colors
          .content
            #toolbar
        .tab
          %input#tab-2{name: "tab-group-1", type: "radio"}
          %label{for: "tab-2"} Navigate
          .content
            #other_tool
              %p navigation tools
        .tab
          %input#tab-3{name: "tab-group-1", type: "radio"}
          %label{for: "tab-3"} Something
          .content
            #another_tool
    #left_panel_bottom
      - if signed_in?
        #chat_window
        %form.chat_form{action: "#", method: "get"}
          %p
            %textarea#chat_input{cols: "30", rows: "5"}
          %p
            %input{type: "submit", value: "Send"}
      - else
        %p You must sign in to see chat!
  .play_game_svg_container
    .games.play{id: @game.id}
  .chronicle_id_container{id: @game.chronicle.id}

