#game_page
  #chronicle
    %ul
      - @game.chronicle.turn_logs.each do |turn_log|
        %li
          %p= turn_log.active_player.name.upcase + "'s reign:"
          %p= link_to  'the world as it was', game_chronicle_turn_log_path(@game, @game.chronicle, turn_log)
          %p= turn_log.documentation
  #left_panel_wrapper
    #left_panel_top
      %p
        Round #{@game.round_counter}
      %p
        Player #{@game.turn_counter} (#{Player.find(@game.active_player).name})'s turn
      %ul
        -@game.players.each do |player|
          %li
            = player.name
            has
            %span.points
              =player.points
            points to spend
      %p
        = text_area_tag(:turn_log_documentation)
        = form_tag @game, class: "end_turn", method: :patch do |f|
          = hidden_field(:points, :to_s)
          = submit_tag "End Turn"

      = button_to("End Game", root_path, method: :get)
    #left_panel_middle
      .tabs
        .tab
          %input#tab-1{name: "tab-group-1", type: "radio", checked: "checked"}
          %label{for: "tab-1"} Colors
          .content
            #toolbar
        .tab
          %input#tab-2{name: "tab-group-1", type: "radio"}
          %label{for: "tab-2"} Navigate
          .content
            #other_tool
              %p navigation tools
        .tab
          %input#tab-3{name: "tab-group-1", type: "radio"}
          %label{for: "tab-3"} Something
          .content
            #another_tool
              %p something else!!!!
    #left_panel_bottom
      %p Chat
      %p Bob: something something something
      %p Larry: Hello, how are you doing???
      %p something something something.
  .play_game_svg_container
    .games.play{id: @game.id}
  .chronicle_id{id: @game.chronicle.id}

