<h1>The World in the year as it Was</h1>
<p><%=@turn_log.documentation%></p>
<div class='gameinfo' gameId=<%= params[:game_id] %>></div>
<div class='loginfo' logId=<%= params[:id] %>></div>
<div class='chronicleinfo' chronicleId=<%= params[:chronicle_id] %>></div>
<div class='boardinfo' boardId=<%= @board.id %>></div>
<%=@next%>
<% if @next %>
<%= link_to "Next", "/games/#{@chronicle.game_id}/chronicles/#{@chronicle.id}/turn_logs/#{@next}" %>
<% end %>
<a href='#' id='render'>Render in 3D!</a>
<div class="replay_game_svg_container">
  <div class="game replay"></div>
</div>
<style id="3d">canvas { width: 100%; height: 100% }</style>
