!!!
%html
  %head
    %title Cartogenesis
    %link{href: "http://fonts.googleapis.com/css?family=MedievalSharp", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Amaranth", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #top_bar
      - if signed_in?
        = current_user.username
        = link_to "Sign out", signout_path, method: "delete"
        = link_to "New game", new_game_path, method: "get"
      - else
        = link_to "Sign in", new_user_path, method: "get"
      = yield
    = button_to "Tutorial", tutorial_path, method: "get"

  / <div id="chat_window"></div>
  / <a href='#'><button id="start_chat">Start Chat!</button></a>
  /   <%= form_for '@task', url: {action: 'create'}, html: {class: "chat_form"} do |f| %>
  /   <p>
  /     <%= f.text_area :user_input, size: "60x3" %>
  /   </p>
  /   <p>
  /     <%= f.submit "Send" %>
  /   </p>
  / <% end %>
