!!!
%html
  %head
    %title Cartogenesis
    %link{href: "http://fonts.googleapis.com/css?family=MedievalSharp", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if signed_in?
      #chat_window
      %a{href: "#"}
        %button#open_chat Open Chat!
      %form.chat_form{action: "#", method: "get"}
        %p
          %textarea#chat_input{cols: "30", rows: "5"}
        %p
          %input{type: "submit", value: "Send"}
      %button#close_chat Close Chat!
    - else
      %p You must sign in to see chat!
    - if signed_in?
      %p
        = current_user.username
        = link_to "Sign out", signout_path, method: "delete"
    - else
      = link_to "Sign in", new_user_path, method: "get"
    - flash.each do |key, value|
      %div{class: "alert alert-#{key}"}= value
    = yield

  / <div id="chat_window"></div>
  / <a href='#'><button id="start_chat">Start Chat!</button></a>
  /   <%= form_for '@task', url: {action: 'create'}, html: {class: "chat_form"} do |f| %>
  /   <p>
  /     <%= f.text_area :user_input, size: "60x3" %>
  /   </p>
  /   <p>
  /     <%= f.submit "Send" %>
  /   </p>
  / <% end %>
