!!!
%html
  %head
    %title Cartogenesis
    %link{href: "http://fonts.googleapis.com/css?family=MedievalSharp", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if signed_in?
      #chat_window
      %a{href: "#"}
        %button#open_chat Open Chat!
      %form.chat_form{action: "#", method: "get"}
        %p
          %textarea#chat_input{cols: "30", rows: "5"}
        %p
          %input{type: "submit", value: "Send"}
      %button#close_chat Close Chat!
    - else
      %p You must sign in to see chat!
    - if signed_in?
      %p
        = current_user.username
        = link_to "Sign out", signout_path, method: "delete"
    - else
      = form_for(:session, url: sessions_path) do |f|
        = f.label :email
        = f.text_field :email
        = f.label :password
        = f.password_field :password
        = f.submit "Sign in", class: "login_button"
      %br
      = form_for :user, url: user_index_path, method: :post do |f|
        - if @user.errors.any?
          #error_explanation
            .alert.alert-error
              The form contains #{pluralize(@user.errors.count, "error")}.
            %ul
              - @user.errors.full_messages.each do |msg|
                %li
                  * #{msg}
        = f.label :username
        = f.text_field :username
        = f.label :email
        = f.text_field :email
        = f.label :password
        = f.password_field :password
        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation
        = f.submit "Create my account", class: "signup_button"
    = yield

  / <div id="chat_window"></div>
  / <a href='#'><button id="start_chat">Start Chat!</button></a>
  /   <%= form_for '@task', url: {action: 'create'}, html: {class: "chat_form"} do |f| %>
  /   <p>
  /     <%= f.text_area :user_input, size: "60x3" %>
  /   </p>
  /   <p>
  /     <%= f.submit "Send" %>
  /   </p>
  / <% end %>
